/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: aliceblue;
}

/* NAVBAR */

.navbar {
  color: #646582;
  background-color: aliceblue;
  width: 100%;
  padding:5px 10px;
}

.navIcon {
  font-size: 45px;
}

.navTitle {
  position: relative;
  bottom: 14px;
  left: 5px;
}

/* CHART DATA */
.chartDataContainerWhole {
  background-color: #A4B3D3;
  padding-bottom: 100px;
}
.locationTitle {
  border-bottom: solid 1px #646582;
  display: inline-block;
  margin: 10px 20px; 
}

.chartDataContainer {
  display: flex;
  justify-content: space-between;
  margin-top:100px;
}
.dataSelector {
  text-align: center;
  margin: 10px 0;
}

.dataSelector select {
  background: transparent;
  border: none;
  border-bottom: aliceblue solid 1px;
  color: aliceblue;
  font-size: 17px;
  text-align: center;
  width: 170px;
}

/* DOUGHNUT CHART DATA */
.chartContainer {
  height: 500px;
  width: 800px;
  text-align: center;
  border-left: solid aliceblue 1px;
  padding-left: 20px;
  width: 100%;
}

/* BOX DATA */

.boxContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.box {
  margin: 20px;
  border-radius: 10px;
  background-color: #FF6384;
  padding: 30px 1px;
  height: 200px;
  width: 200px;
}
.recoveredBox {
  background-color: #63ffb6;
}
.confirmedBox {
  background-color: #6ba9ff;
}

.boxChartTitle{
  font-size: 22px;
  margin-bottom: 10px;
  margin-top:3px;
}
.boxDataNumber {
  font-size: 33px;
}

/* LIST DATA */

.listTitle {
  color: #A4B3D3;
  font-size: 35px;
  padding: 30px 15px;
  text-align: center;
}

.listContainer {
  background-color: #F1F4F8;
  color: black;
}

table {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0 0px;
}

.listLabels th {
  background: #A4B3D3;
  padding: 20px 12px;
  text-align: left;
}

.listDetails {
  background: #DFE7F2;
}
.listDetails:nth-child(even){
  background-color: #F1F4F8;
  padding: 30px 2px;
}

.listDetails td {
  padding: 10px 12px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
  .chartContainer {
    height: 500px;
    width: 700px;
  }
  .box {
    height:150px;
    width: 150px;
  }
  .boxDataNumber {
    font-size: 20px;
  }
  .boxChartTitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 1170px) {
.chartDataContainer {
  flex-wrap: wrap;
}
.chartContainer {
  margin: 0 auto;
  margin-top: 50px;
  border-left: none;
  border-top: solid aliceblue 1px;
  padding-top: 30px; 
}
.chartDataContainer {
  margin-top: 50px;
}
.chartDataContainerWhole {
  padding-bottom: 0px;
}
}

@media screen and (max-width: 700px) {
  .chartContainer {
    height: auto;
    width: 100%;
    padding-bottom: 50px;
  }
}
